#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected {
  background-color: #505050;
  color: white;
}

.yellow {
  background-color: lightyellow;
  color: black;
}

.green {
  background-color: lightgreen;
  color: black;
}

.blue {
  background-color: lightblue;
  color: black;
}

.purple {
  background-color: lavender; 
  color: black;

}